$color-blue: #333c57;
$color-dark-blue: #292f42;
$color-hover-blue: rgb(92, 99, 129);
$color-font-menu: #e9e5dc;

.sidenav {
    position: absolute;
    display: block;
    background: $color-blue;
    color: $color-font-menu;
    height: 100%;
    width:35rem;
    transition: width 0.5s ease, height 0.5s ease;
    .logo-container {
        display: flex;
        align-items: center;
        background-color: $color-dark-blue;
        display: flex;
        justify-content: space-between;
        .logo-img{
            display: flex;
            padding: 1rem;
            width: 7rem;
            height: 7rem;
        }
        

        .logo-text {
            align-content: center;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    .sidenav-nav {
        .sidenav-nav-item {
            .sidenav-nav-link {
                display: flex;
                width: 100%;
                color: $color-font-menu;
                padding: 1rem 5rem;
                .sidenav-link-text {
                    margin: 0 1rem;
                }
            }
            .sidenav-nav-collapsed {
                display: flex;
                width:auto;
                color: $color-font-menu;
                justify-content: center;
                padding: 1rem;
            }

            :hover {
                background: $color-hover-blue;
                text-decoration: none;
            }
        }
    }
}

.sidenav-collapsed{
    position: static;
    display: block;
    background: $color-blue;
    color: $color-font-menu;
    height: 100%;
    width: 8rem;
    transition: width 0.1s ease, height 0.1s ease;
    .logo-container{
        display: flex;
        justify-content: center;
    }
}
.btn-close,.btn-logo {
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
}