<nav class="sidenav" [class.sidenav-collapsed]="collapsed">
    <div class="logo-container">
        @if(collapsed){
        <button class="btn-logo" (click)="isCollapsed()">
            <fa-icon class="icon-2" [icon]="['fas','bars']"></fa-icon>
        </button>
        }@else{
        <div class="logo-img">
            <img src="img/leffi.png" alt="Logo">
        </div>
        <div class="logo-text">Lefi</div>
        <button class="btn-close" (click)="isCollapsed()">
            <fa-icon class="icon-2" [icon]="['fas','times']"></fa-icon>
        </button>
        }

    </div>

    <ul class="sidenav-nav">
        @for(data of navData; track $index){
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [class.sidenav-nav-collapsed]="collapsed" [routerLink]="data.routeLink"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

                <fa-icon [icon]="['fas',data.icon]"></fa-icon>
                @if(!collapsed){
                <span class="sidenav-link-text">{{data.label}}</span>
                }

            </a>
        </li>
        }
    </ul>

</nav>
