<div class="container">
  <app-menu></app-menu>
  <div class="board-container">
    <div class="tool-container">
      <div class="tool">
        <label for="lineWidth" class="">Spessore:</label>
        <mat-slider min="1" max="10" step="1">
          <input matSliderThumb [(ngModel)]="sliderValue" />
        </mat-slider>
        <p>{{ sliderValue }}</p>
        <div class="opt-tool">
          <button class="btn-opt">
            <fa-icon class="icon-2" [icon]="['fas', 'pencil']"></fa-icon>
          </button>
          <button class="btn-opt">
            <fa-icon class="icon-2" [icon]="['fas', 'eraser']"></fa-icon>
          </button>
          <button class="btn-opt">
            <fa-icon class="icon-2" [icon]="['fas', 'trash']"></fa-icon>
          </button>
          <div class="color-container">
            <p>color</p>
            <input
              class="color-picker-input"
              [(colorPicker)]="currentColor"
              [style.background]="currentColor"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-container">
      <canvas 
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp($event)"
      (mousemove)="onMouseMove($event)"
      (wheel)="zoom($event)"
      #canvasRef class="board"></canvas>
    </div>
  </div>
</div>
